
<!DOCTYPE html> 
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="../js/profile.js" ></script>
    <script src="../js/data.js" defer></script>
    <script src="../js/search.js" defer></script>
    <script src="../js/filter.js" defer></script>
    <script src="../js/loader.js" defer></script>       
</head>

<body>
    <!-- navbar -->
    <%- include('partials/home-navbar') %>

    <!-- filter container -->
    <%- include('partials/filter-container') %>
        
    <div id="loader">
        <img src="../images/loading.gif" alt="Loading..." />
    </div>

    <%- include('partials/home-category') %>

    <section class="new-arrival">
        <!--heading-------->
        <div class="arrival-heading">
            <strong>Most Buyed Product</strong>
            <p>Most Frequently Buyed Product By Customer</p>
        </div>
        <div class="product-container">
            <div class="product-box" data-id="apple">
                <div class="product-img">
                    <div class="discount-label">25% OFF</div>
                    <img src="../images/apple.jpg" alt="Product Image">
                    <button class="add-cart">
                        <font size=5>+</font>
                    </button>
                </div>
                <div class="product-details">
                    <h3 class="p-name">Apple </h3>
                    <p class="p-price">₹140</p>
                    <p class="p-weight">1 kg</p>
                </div>
            </div>
            <div class="product-box" data-id="banana">
                <div class="product-img">
                    <div class="discount-label">25% OFF</div>
                    <img src="../images/banana.jpg" alt="Product Image">
                    <button class="add-cart">
                        <font size=5>+</font>
                    </button>
                </div>
                <div class="product-details">
                    <h3 class="p-name">Banana</h3>
                    <p class="p-price">₹40</p>
                    <p class="p-weight">1 Dorzen</p>
                </div>
            </div>
            <div class="product-box" data-id="Dragon fruit">
                <div class="product-img">
                    <div class="discount-label">25% OFF</div>
                    <img src="../images/Dragon Fruit.jpg" alt="Product Image">
                    <button class="add-cart">
                        <font size=5>+</font>
                    </button>
                </div>
                <div class="product-details">
                    <h3 class="p-name">Dragon Fruit</h3>
                    <p class="p-price">₹80</p>
                    <p class="p-weight">200 gm</p>
                </div>
            </div>
            <div class="product-box" data-id="Tomato">
                <div class="product-img">
                    <div class="discount-label">25% OFF</div>
                    <img src="../images/tomato.jpg" alt="Product Image">
                    <button class="add-cart">
                        <font size=5>+</font>
                    </button>
                </div>
                <div class="product-details">
                    <h3 class="p-name">Tomato</h3>
                    <p class="p-price">₹50</p>
                    <p class="p-weight">500 gm</p>
                </div>
            </div>
            <div class="product-box" data-id="onion">
                <div class="product-img">
                    <div class="discount-label">25% OFF</div>
                    <img src="../images/onion.jpg" alt="Product Image">
                    <button class="add-cart">
                        <font size=5>+</font>
                    </button>
                </div>
                <div class="product-details">
                    <h3 class="p-name">Onion</h3>
                    <p class="p-price">₹30</p>
                    <p class="p-weight">1 kg</p>
                </div>
            </div>
            <div class="product-box" data-id="Beets">
                <div class="product-img">
                    <div class="discount-label">25% OFF</div>
                    <img src="../images/Beets.jpeg.jpg" alt="Product Image">
                    <button class="add-cart">
                        <font size=5>+</font>
                    </button>
                </div>
                <div class="product-details">
                    <h3 class="p-name">Beet</h3>
                    <p class="p-price">₹30</p>
                    <p class="p-weight">250 gm</p>
                </div>
            </div>

            <!-- The Modal -->
            <div id="cartModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Your Cart</h2>
                    <div id="cart-items"></div>
                    <h3 id="grand-total">Grand Total: $0.00</h3>
                    <button id="clear-cart">Clear Cart</button>
                    <button id="proceed-checkout">Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </section>

    <div class="banner-box f-slide-3">
        <div class="banner-text-container">
            <div class="banner-text">
                <div class="centered">
                    <div><span>LIMITED Offer</span></div>
                    <div class="pk"><strong> GET 50% Off<br /> With Promo Code <font>FRESH 50</font> <br>Above ₹250
                            Order</strong></div>
                    <a href="#" class="banner-btn">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    

    <section class="services">
        <!--services-box---------->
        <div class="services-box">
            <i class="fas fa-shipping-fast"></i>
            <span>Free Shipping</span>
            <p>Free Shipping for all Mumbai orders</p>
        </div>
        <!--services-box---------->
        <div class="services-box">
            <i class="fas fa-headphones-alt"></i>
            <span>Support 24/7</span>
            <p>We support 24h a day</p>
        </div>
        <!--services-box---------->
        <div class="services-box">
            <i class="fas fa-sync"></i>
            <span>Trusted And 100% Healthy</span>
            <p>All Goods Are Directly Imported From Farmer</p>
        </div>
    </section>

    <!-- hidden variables section  --------------------------------------------------->



    <div id="user-id" data-userId='<%= JSON.stringify(userId) %>'></div>



    <!-- -------------------------------------------------------------------------- -->

    <footer>
        <span class="copyright">
            Copyright 2024 FreshCart  <%=userId%>
        </span>
        <div class="subscribe">
            <form>
                <input type="email" placeholder="Example@gmail.com" required />
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </footer>

    <script src="../js/cart.js" defer></script>

    
</body>

</html>